div
{
    color: brown;
    font-size: 10px;

}

.left
{}

#t1
{
    color: blue;
}

h1#t1
{
   color: coral;
}

.header ul
{
    color: blueviolet;
   border: 1px solid #ccc;
}
.header > ul
{
    background-color: darkgrey;
    
}

.header > ul > li:hover
{
    background-color: gray;

}